.container{
    display: flex;

}
.icon{
    width: 30px;
height: 28px;
box-shadow: 0px 4px 4px 0px #00000040;
border-radius: 20px;

}
.sidebar{
    width: 208px;
    height: 806px;
    opacity: 0px;
    background: #FFFFFF;
}
.conversation{
    width: 1280px;
height: auto;
background: linear-gradient(180deg, rgba(215, 199, 244, 0.2) 0%, rgba(151, 133, 186, 0.2) 100%);
opacity: 0px;
}
.chat{
    width: 24px;
height: 24px;
gap: 0px;
opacity: 0px;
}
.heading{
    width: 89px;
height: 23px;
gap: 0px;
opacity: 0px;
font-size: 20px;
font-weight: 400;
line-height: 22.98px;
text-align: left;

}
.header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, #D7C7F4, #D7C7F4),
linear-gradient(0deg, #D7C7F4, #D7C7F4),
linear-gradient(0deg, #D7C7F4, #D7C7F4),
linear-gradient(0deg, #D7C7F4, #D7C7F4);
margin-bottom: 20px;
}
.history{
    width: 150.16px;
height: 30px;
margin-left: 5px;
border-radius: 10px ;
text-align: center;
background: linear-gradient(0deg, #D7C7F4, #D7C7F4),
linear-gradient(0deg, #D7C7F4, #D7C7F4),
linear-gradient(0deg, #D7C7F4, #D7C7F4),
linear-gradient(0deg, #D7C7F4, #D7C7F4);
}
.heading1{
font-size: 28px;
font-weight: 700;
line-height: 32.17px;
color: #9785BA;
margin: 0px;
}
.content{
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.icon1{
    width: 65.3px;
height: 69px;
box-shadow: -4px 4px 10px 0px #00000026;
gap: 0px;
opacity: 0px;
border-radius: 30px;
}
.data-container {
  display: flex;
  flex-direction: column; /* Stack box containers vertically */ 
  justify-content: space-evenly;
  margin-bottom: 20px;/* Center box containers horizontally */
}

.box-container {
  display: flex;
  gap: 30px;
}

.box {
  width: auto; /* Set the width of each box */
  height: 140px; /* Set the height of each box */
  margin: 10px; /* Add margin between boxes */
  background-color: #FFFFFF; /* Background color for demonstration */
  padding: 10px;
}


  .para{
    color: #00000080;
  }
  .inputbox{
    width: 846.09px;
height: 41px;
border-radius: 5px 0px 0px 0px;
border: 1px solid #00000073;
margin-left: 30px;
  }
  .message-input{
    width: 1042px;
height: 41px;
border-radius: 5px 0px 0px 0px;
display: flex;
align-items: center; /* Align items vertically */
gap: 30px;
  }
  .ask, .save{
    background: #D7C7F4;
    cursor: pointer;
    padding: 10px 20px; 
    border: none; /* Remove border */
    border-radius: 5px; /* Apply border radius */
  }



  /* For smaller screens */
@media screen and (max-width: 768px) {
    .container {
      flex-direction: column; /* Stack sidebar and conversation vertically */
      align-items: center; /* Center items horizontally */
    }
  
    .sidebar {
      width: 100%; /* Full width */
      height: auto; /* Adjust height as needed */
    }
  
    .conversation {
      width: 100%; /* Full width */
      height: auto; /* Adjust height as needed */
    }
  
    .content {
      margin-top: 50px; /* Decrease margin */
    }
  
    .box {
      width: 90%; /* Adjust width */
      margin-top: 50px; /* Decrease margin */
    }
  
    .box > div {
      width: 100%; /* Full width */
    }
  
    .inputbox,
    .message-input {
      width: 90%; /* Adjust width */
      margin-left: 0; /* Remove left margin */
    }
  }
  
  /* For larger screens */
  @media screen and (min-width: 1200px) {
    .container {
      justify-content: space-between; /* Add space between sidebar and conversation */
    }
  
    .sidebar {
      width: 208px; /* Restore sidebar width */
      height: 806px; /* Restore sidebar height */
    }
  
    .conversation {
      width: 1280px; /* Adjust conversation width */
      height: auto; /* Restore conversation height */
    }
  
    .content {
      margin-top: 100px; /* Restore margin */
    }
  
    .box {
      width: 500px; /* Restore box width */
      margin-top: 150px; /* Restore margin */
    }
  }
  .btn{
    text-decoration: none;
    border: 0px;
    background-color: #D7C7F4;
    padding: 3px;
  }